{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {{ form_start(delete_form) }}
            <h1>
                Subcategory of <strong>{{ category.name }}</strong>   <a class="btn btn-warning btn-outline largebutton" href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
                <a class="btn btn-primary btn-outline btm-sm category" href="{{ path('category_index') }}">Back to the list</a>
                <input class="btn btn-danger btn-outline btm-sm category" type="submit" value="Delete">
            </h1>
        {{ form_end(delete_form) }}
    </div>
    {% if categories is empty%}
        <div class="alert alert-warning">
           <strong> {{ category.name }} don't have subcategory yet. </strong>
        </div>
    {% endif %}
    {% for cat in categories %}
                <a class="btn btn-primary btn-outline category" href="{{ path('category_show', { 'id': cat.id }) }}">{{ cat.name }}</a>
            </tr>
    {% endfor %}
{% endblock %}
