{% extends "::base.html.twig" %}

{% block title %}CABlogBundle:SessionController:login{% endblock %}

{% block body %}
  {% if error %}
      {% if error.action == 'create'%}
          <div class="alert alert-danger">You have to be logged in to <strong>{{ error.action }}</strong> a <strong>{{ error.entity }}</strong>.</div>
      {% elseif error.action == 'edit' %}
          <div class="alert alert-danger">You have to be logged in to <strong>{{ error.action }}</strong> a <strong>{{ error.entity }}</strong>.</div>
      {% elseif error.action == 'delete' %}
          <div class="alert alert-danger">You have to be logged in to <strong>{{ error.action }}</strong> a <strong>{{ error.entity }}</strong>.</div>
      {% endif %}
  {% endif %}

  <form action="{{ path('login') }}" method="post">
    <label for="username">Login :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" />
    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Keep me logged in</label>
    <br />
    <input type="submit" value="Connexion" />

  </form>

{% endblock %}
