{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>
            Product's list  <a class="btn btn-primary btn-outline" href="{{ path('product_new') }}">Create a new product</a>
        </h2>
    </div>

    {% for product in products %}
    <div class="col-xs-12 col-sm-6 col-md-3" style="margin-top:2em;">
          <div class="col-item">
              <div class="post-img-content">
                  <img src="http://placehold.it/350x260" class="img-responsive" />
                  <span class="post-title">
                      <b><a href="{{ path('product_show', { 'id': product.id }) }}">{{product.name}}</a></b><br>
                      <b>{{product.category.name ?? 'no category'}}</b>
                  </span>
                  {% if "now"|date('Ymd')  > product.endingdate|date('Ymd') %}
                      <span class="round-tag out">Out</span>
                  {% else %}
                      <span class="round-tag">{{product.price}} €</span>
                  {% endif %}
              </div>
              <div class="info">
                  <div class="row">
                      <div class="price col-md-10">
                          <h5>End the : {{ product.endingdate | date('Y-m-d')}}</h5>
                          <p>Added by {{ product.user.username }}</p>
                      </div>
                  </div>
                  <div class="separator clear-left">
                      <p class="btn-details">
                          <a href="{{ path('product_show', { 'id': product.id }) }}">more details</a>
                      </p>
                  </div>
                  <div class="clearfix">
                  </div>
              </div>
          </div>
      </div>
    {% endfor %}

{% endblock %}
