{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list <a class="btn btn-primary btn-outline" href="{{ path('user_new') }}">Create a new user</a></h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-primary btn-outline">show</a>
                    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-warning btn-outline">edit</a>
                    <a href="{{ path('rate_new', { 'id': user.id, 'type': 'user' }) }}" class="btn btn-primary btn-outline">Rate</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
