{% extends 'base.html.twig' %}

{% block body %}
    <div class="separation">
    {{ form_start(delete_form) }}
        <a class="btn btn-primary btn-outline" href="{{ path('user_index') }}">Back to the list</a>
        <a class="btn btn-warning btn-outline" href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        <input type="submit" value="Delete" class="btn btn-danger btn-outline">
    {{ form_end(delete_form) }}
    </div>

    <h1>{{ user.username }}</h1>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    {% if not bids is empty %}
    <h3> Last bid <a class="btn btn-info btn-outline" href="{{ path('product_show_bids', { 'id': user.id }) }}">Edit</a></h3>
    <div classe="separation">
        {% set bid = bids | last %}
        <div class="alert alert-info">
           Last bid:<strong> {{ bid.amount }} €</strong> has been bade by {{ bid.user.username }}
        </div>
    </div>
    {% endif %}

    {% if not rates is empty %}
    <h3> Last comment</h3>
    <div class="panel panel-default">
        {% set rate = rates | last %}
        <div class="panel-heading">
          <p>Date: <strong>{{ rate.date|date('Y-m-d') }}</strong> by <strong>{{ rate.name }}</strong></p>
        </div>
        <div class="panel-body">
          <div class="stars">
            Rate :
            {% set value = (rate.value | round) %}
            {% for i in 1..5 %}
                {% if i <= value %}
                  <span class="fa fa-star checked"></span>
                {% else %}
                  <span class="fa fa-star"></span>
                  {% endif %}
            {% endfor %}
          </div>
          <p>Comment: {{ rate.comment }}</p>
        </div>
    </div>
    {% endif %}
{% endblock %}
