{% extends 'base.html.twig' %}

{% block body %}
    <h1><strong>{{ product.name }}</strong>'s bids history</h1>
    <p class="btn btn-primary btn-outline btm-sm"><a href="{{ path('product_show', { 'id': product.id }) }}"><strong>Back to the product</strong></a> </p>

    <div class="separation">
        {% for bid in listBids %}
        <div class="alert alert-info">
           <strong> {{ bid.amount }} €</strong> has been bade
           by <strong>{{ bid.user.username ?? 'Unknown' }}</strong>
           the <strong>{{ bid.date | date('Y-m-d') }}</strong>
           at <strong>{{ bid.date | date('H:i') }}</strong>
        </div>
        {% endfor %}
    </div>

{% endblock %}
