{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list  <a class="btn btn-primary btn-outline" href="{{ path('product_new') }}">Create a new product</a></h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('product_show', { 'id': product.id }) }}" class="btn btn-outline-primary">show</a>
                    <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn btn-outline-primary">edit</a>
                    <a href="{{ path('rate_new', { 'id': product.id, 'type': 'product' }) }}" class="btn btn-outline-primary">Rate</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
