{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ product.name }}'s rates</h1>
    <p class="btn btn-primary btn-outline btm-sm"><a href="{{ path('product_show', { 'id': product.id }) }}"><strong>Back to the product</strong></a> </p>

    <div class="panel panel-default">
        {% for rate in listRates %}
        <div class="panel-heading">
          <p>Date: {{ rate.date|date('Y-m-d') }} by {{ rate.name }}</p>
        </div>
        <div class="panel-body">
          <p>Rate: {{ rate.value }}</p>
          <p>Comment: {{ rate.comment }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
